.searchResult{
  .header__wrap{
    margin-bottom: 110px;
  }
}

.new__cars-container{
  display: flex;
  gap: 50px;
}

.cars__box{
  width: 760px;
  //flex-grow: 0;
  flex-shrink: 0;
}

.info-wrap{
  margin: 36px 0;
  display: flex;
  justify-content: space-between;
}

.control__select{
  flex-shrink: 1;
  width: 236px;
  border: none;
  background: #152836;
}

.layout{
  display: flex;
  gap: 15px;
  button{
    width: 36px;
    height: 36px;
    border: 1px solid #4DA8DA;
    border-radius: 3px;
    background: none;
    fill: #4DA8DA;
  }
  .layout__button--active{
    background: #007CC7;
    fill: black;
  }
}


