@import "src/styles/variables";


.drop{
  position: relative;
}

.select__button{
  border: none;
  background: $inputBackground;
  transition: .3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px;
  .after{
    transition: .3s;
  }
  &--activate{
    .after{
      transform: rotate(180deg);
    }
  }
}

.search__string{
  margin: 15px;
  margin-bottom: 0;
  input{
    width: 100%
  }
}

.drop__list{

  transition: .5s;
  overflow: auto;
  max-height: 0;
  background: $backgroundAcrive;
  border-radius: 3px;
  width: 100%;
  position: absolute;
  top: 110%;
  z-index: 2;
  &--active{
    max-height: 400px;
  }
}

.drop__list-item{
  padding: 10px 15px;
  border-radius: 5px;
  transition: 0.2s;
  &:hover{
    background: $blockBackground;
  }
}

.disable{
  background: #6d787f;
}


