.rating{
    align-self: flex-start;
    z-index: 1;
    position: relative;
    display: inline-block;
    img{
        display: block;
    }
}

.rating__bottom,
.rating__top{
    display: flex;
    gap: 5px;
    width: 115px;
}
.rating__item{
    flex-basis: 20%;
}
.bar{
    width: 20%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: .5s;
}