// .new__cars{
//     max-width: 1500px;
//     margin: 0 auto;
// }
// .new__cars-container{
//     display: flex;
//     justify-content: space-between;
    
// }

// .cars__box{
//     width: 900px
// }

// .control{
//     display: flex;
//     justify-content: space-between;
//     button{
//       color: black;
//       width: 36px;
//       height: 36px;
//     }
//     select{
//         color: black;
//     }
//     option{
//         color: #071620;
//     }
    
//   }

// .filters{
//     width: 300px;
//     background: #071620;
// }
// .new__cars-container{
//     display: flex;
//     flex-wrap: wrap;
//     gap: 20px;
// }

// .layout__button-active{
//     background: green
// }

// input{
//     color: black;
// }

.new__cars-container{
    display: flex;
    justify-content: center;
    gap: 65px

}

.cars__box{
    width: 760px;
    

}

