.compare{
  margin-top: 72px;
  h2{
    margin-bottom: 24px;
  }

}

.compare__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.compare__button{
  display: block;
  width: 604px;
  margin: 0 auto;
  margin-top: 25px;
}

.vs{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 36px;
  width: 106px;
  height: 106px;
  background: #4DA8DA;
  border-radius: 50%;
}