@import '../../../styles/variables';

.infoAccordion{
    margin: 0 auto;
    border-radius: 3px;
    width: 100%;
    max-height: 5000px;
    background: #152836;
    padding:0 24px;
    margin-top: 56px;
    
}

.info__title{
    position: relative;
    text-transform:capitalize;
    text-align: center;
    font-size: 28px;
    padding: 15px;
    border-bottom: 1px solid #d7d7d700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 1s;
    p{
        flex-grow: 1;
    }
    &::after{
        flex-grow: 0;
        content: '';
        display: block;
        width: 22px;
        height: 14px;
        background-image: url('../../../../public/icons/subarrow.svg');
        background-repeat: no-repeat;
        background-position: center;
        transition: .5s;
    }
    &--active{
        border-bottom: 1px solid #D7D7D7;

    }
    &--active::after{
        transform: rotate(180deg);
    }
    &.disable{
        background: #45535b80;
        color: #6d787f;
    }
}

.info__deploy{
    transition: .5s;
    overflow: hidden;
    width: 100%;
    max-height: 1000px;
    li{
        margin-top: 12px;
        font-size: 18px;
        padding: 13px;
    }
    li:nth-child(odd){
        text-transform:capitalize;
        background: #12232E;
        border-radius: 3px;
        text-align: center;
    }
    li:nth-child(even){
        display: flex;
        justify-content: space-around;
    }
    li:last-child{
        margin-bottom: 24px;
    }
    &--active{
        max-height: 0px;
    }
}

.info__img{
    transition: .5s;
    overflow: hidden;
    width: 100%;
    max-height: 1000px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
    li{
        gap: 20px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 12px;
        margin-bottom: 15px;
        font-size: 18px;
        padding: 13px;
        border: 1px solid $colorBorder;
    }
    &--active{
        max-height: 0px;
    }
}

.info__foto{
    align-self: flex-start;
    border: 1px solid $colorBorder;
    width: 45%;
}

.remove-info{
    cursor: pointer;
    position: absolute;
    left: 50%;
    background: rgba(194, 44, 44, 0.53);
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.edit-info{
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translate(-150%);
    background: $colorBorder;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}