@import '../../../styles/variables';

.massage{
    position: relative;
    border: 2px solid $colorBorder;
    max-width: 700px;
    min-width: 400px;
    width: 100%;
    padding: 15px 25px 25px;
    margin-bottom: 40px;
    border-radius: 10px;
    h4{
        margin-bottom: 20px;
    }
}

.massage__panel{
    display: flex;
    justify-content: space-between;
    button{
        transform: translate(30%, -30%);
        width: 50px;
        height: 50px;
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 50%;
        background: $background;
        border: 2px solid $colorBorder;
        //padding: 5px;
        .svg-icon{
            transition: .5s;
            width: 70%;
            height: 70%;
            fill: white;
        }
        &:hover svg {
            fill: red
        }
    }
}

.massage__contacts{
    border-radius: 7px;
    padding: 8px;
    margin: 0 auto;
    border: 2px solid $colorBorder;
    flex-basis: 80%;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.massage__foto{
    overflow: hidden;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid $colorBorder;
    width: 70px;
    height: 70px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.massage__text{
    margin-top: 20px;
    h4{
        display: inline-block;
        border-radius: 7px;
        border: 2px solid $colorBorder;
        padding: 5px 20px;
    }
    p{
        border-radius: 7px;
        border: 2px solid $colorBorder;
        padding: 10px 10px;

    }
}

.massage__avatar{
    position: absolute;
    bottom: 0px;
    left: 0px;
    transform: translate(-50%, 50%);
    border: 1px solid $colorBorder;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
