@import '/src/styles/variables.scss';

.description{
    grid-area: description;
    position: relative;
    textarea{
        resize: none;
        padding: 15px;
        width: 100%;
        border: none;
        background: $inputBackground;
    }
    span{
        transition: .5s;
        text-transform: capitalize;
        position: absolute;
        top: 10px;
        left: 15px
    }
    textarea:focus+span,
    .fillField{
        top: -25px;
        left: 0;
    }
}