@import 'src/styles/variables';

.carDetail{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        'name name name'
        'title title conditions'
        'body brand model'
        'year passengers color'
        'description description description';
    .label__input{
        grid-area: title;
    }
 
}

