.personal{
  position: relative;
  padding: 34px 24px;
  max-width: 1020px;
  background: #12232E;
  display: flex;
  gap: 35px;
  &:before{
    content: '';
    display: block;
    width: 55px;
    height: 55px;
    background: #12232E;
    position: absolute;
    transform: rotate(45deg);
    top: -20px;
    left: 30px;
    z-index: -1;
  }
}

.personal__foto{
  //flex-grow: 1;
  flex-shrink: 0;
  width: 386px;
  height: 184px;
  background: grey;
}
.personal__discription{
  h3{
    color: #007CC7;
  }
  h4{
    color: #007CC7;
    margin-bottom: 25px;
  }
}

