@import '../../functions/functions';

$sizeview: 400px;

.viewport{
    max-width: 1600px;
    width: 100%;
    height: $sizeview;
    margin: 0 auto;
    position: relative;
    height: 100%;
    overflow: hidden;
}

.slider__bar{
    z-index: -1;
    transition: 1s;
    // border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    position: absolute;
    img{
        width:100%;
        height: 100%;
        object-fit: cover;
    }
}

.bar__item{   
    padding-left: 50px;
    width: 100%;
    height:  100%;
    font-size: 40px;
    background-size: cover;
    background-position: center;
    h1{
        margin-top: 100px;
        font-size: 48px;
    }
    h2{
        font-size: 24px;
        width: 400px;
    }
}

.slider__buttons{
    border: none;
    width: 30px;
    background: none;
    position: absolute;
    bottom: 0;
    svg{
        transition: 0.5s;
        stroke: white;
        width: 100%;
        height: 100%;
    }
    &:hover svg{
        stroke: #004A77;
    }
}

.button__prev{
    left: 0;
}
.button__next{
    right: 0;
}

.slider__dots{
    display: flex;
    justify-content: center;
    gap: 24px;
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translate(-50%);
}

.slider__dot{
    background: #007bc796;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;

}
.slider__dot--active{
    background: darken(#007CC7, 30%)
}

.preview{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 25px;
    .preview__item{
        transition: .5s;
        width: 170px;
        height: 100px;
    }
    .preview__item:hover{
        transform: scale(1.1);
    }
    .preview__item--active{
        outline: 7px solid #007CC7 ;
    }
}

@media(max-width: 1200px){
    $sizeview: calcFluidFontSize(100, 400, 500, 1200);
    .viewport{
        border: 1px solid black;
        margin: 0 auto;
    }
}



