@import "/src/styles/variables";

.change-block{
  background: $blockBackground;
  margin-bottom: 40px;
  padding: 25px;
  gap: 50px;
  h2{
    text-transform: capitalize;
    font-size: 28px;
    text-decoration: underline;
    grid-area: name;
  }
}

.sell__container{
  //border: 1px solid white;
  padding: 0 24px 24px 24px ;
  h1{
    padding: 50px 0;
    font-size: 48px;
    font-weight: 600;
  }

}

.label__input{
  background: $inputBackground;
  display: block;
  //border: 1px solid white;
  position: relative;
  width: 100%;
  input{
    background: $inputBackground;
    width: 100%;
  }
  span{
    position: absolute;
    top: -25px;
    left: 0;
  }
}

.submit{
  transition: .3s;
  margin: 0 auto;
  min-width: 300px;
  display: block;
  padding: 10px;
  background: $colorBorder;
  &:hover{
    background: $buttonColor;
  }
}

.offer{
  h2{
    text-transform: none;
    text-decoration: none;
    font-size: 35px;
    text-align: center;
  }
}

.offer__buttons{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 50px;
  button{
    color: $buttonColor;
    border: 1px solid $buttonColor;
    background: none;
    padding: 15px;
    width: 150px;
    border-radius: 3px;
  }
}

.execute-buttons{
  display: flex;
  justify-content: center;
  button{
    width: 500px;
  }
}


